In [76]:
def decimal_to_roman(decimal):
    
    roman_hundreds = ['C', 'CC', 'CCC', 'CD', 'D', 'DC', 'DCC', 'DCCC', 'CM']
    roman_tens = ['X', 'XX', 'XXX', 'XL', 'L', 'LX', 'LXX', 'LXXX', 'XC']
    roman_ones = ['I', 'II', 'III', 'IV', 'V', 'VI', 'VII', 'VIII', 'IX']
    
    hundreds = 0
    tens = 0
    ones = 0
    
    if decimal >= 100:
        hundreds = (decimal // 100) % 10
    if decimal >= 10:
        tens = (decimal // 10) % 10
    if decimal > 0:
        ones = decimal % 10
      
    result = ''
        
    if hundreds:
        result += roman_hundreds[hundreds-1]
    if tens:
        result += roman_tens[tens-1]
    if ones:
        result += roman_ones[ones-1]
        
    return result

In [77]:
print(decimal_to_roman(10))

X

In [78]:
print(decimal_to_roman(101))

CI

In [80]:
print(decimal_to_roman(123))

CXXIII

### We are going to build a roman numeral from left to right

For example, for the number 123 we have:

Hundreds | Tens | Ones 
--- | --- 
1 | 2 | 3 
C | XX | III 

So we will build from left to right, C + XX + III to get CXXIII

We have three lists holding the roman numerals for ones, tens, and hundreds:

In [41]:
roman_hundreds = ['C', 'CC', 'CCC', 'CD', 'D', 'DC', 'DCC', 'DCCC', 'CM']
roman_tens = ['X', 'XX', 'XXX', 'XL', 'L', 'LX', 'LXX', 'LXXX', 'XC']
roman_ones = ['I', 'II', 'III', 'IV', 'V', 'VI', 'VII', 'VIII', 'IX']

We'll set an example variable to 123

In [42]:
example = 123

Right now, we have 0 for all three digits:

In [43]:
hundreds = 0
tens = 0
ones = 0

If our example number is greater or equal to 100, we set a value to the hundreds variable:

In [44]:
if example >= 100:
    hundreds = (decimal // 100) % 10

It's not worth zooming in to see how this works, just know it gets the '1' in '123'. Try some more examples:

In [45]:
(123 // 100) % 10

1

In [46]:
(354 // 100) % 10

3

In [47]:
(989 // 100) % 10

9

In [48]:
(787 // 100) % 10

7

We do the same thing to set the tens variable to '2':

In [66]:
if example >= 10:
    tens = (decimal // 10) % 10

And the ones variable to '3':

In [67]:
if decimal > 0:
    ones = decimal % 10

Let's print our three variables now:

In [68]:
print(hundreds)
print(tens)
print(ones)

1
2
3

Check to make sure we have the correct values for our example number!

Now we'll make an empty (string) variable to hold our roman numeral:

In [69]:
roman = ''

First we check if we have a value for hundreds to add to our roman numeral:

In [70]:
if hundreds:
        roman += roman_hundreds[hundreds-1]

We then add the correct item from this list:

In [71]:
#                  0    1     2      3     4    5     6      7       8      
roman_hundreds = ['C', 'CC', 'CCC', 'CD', 'D', 'DC', 'DCC', 'DCCC', 'CM']
#                 100   200   300    400   500  600   700    800     900

This is a little confusing, but to get the correct item, we should subtract one from our hundreds variable

We want our roman numeral to start with 'C' which is equal to 100, and why our hundreds digit is '1'

To get 'C', we need to get the 0th item in the list (so we subtract hundreds - 1):

In [72]:
print(hundreds - 1)

0

So now our roman numeral looks like:

In [73]:
print(roman)

C

We do the same check for the tens and ones digits and add the correct item from the lists:

In [74]:
if tens:
    roman += roman_tens[tens-1]
if ones:
    roman += roman_ones[ones-1]

Now our roman numeral is finished!

In [81]:
print(roman)

CXXIII